/*
 * Grid Utility Classes
 */

// Reset gutters
.u-gutter-reset {
	@include clearfix;

	margin-left: grid('gutter') * -1;
	margin-right: grid('gutter') * -1;
}

// Add gutters
%u-gutter,
.u-gutter {
	padding-left: grid('gutter');
	padding-right: grid('gutter');
}

// No gutters
.u-gutter-none {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

// Clear other units
.u-clear {
	clear: both;
}
