/*
 * Grid Helper Functions and Mixins
 */

/*
 * Grid settings helper
 */
@function grid($key) {
	@if map-has-key($grid, $key) {
		@return map-get($grid, $key);
	}
	@error "Grid key `#{$key}` not found."
}

/*
 * Get grid unit name
 *
 * @example get-grid-unit-name(50, md);
 * @return .g--50@md
 */
@function get-grid-unit-name($size, $breakpoint, $type) {
	$name: null;
	@if $type == push {
		$name: grid('push-prefix');
	} @else if $type == pull {
		$name: grid('pull-prefix');
	} @else {
		$name: grid('unit-prefix');
	}
	$name: #{$name + $size};
	@if $breakpoint != base {
		$name: #{$name + \@ + $breakpoint};
	}
	@return $name;
}

/*
 * Make a set of grid units
 *
 * @example @include make-grid-set(sm);
 */
@mixin make-grid-set($breakpoint, $type) {
	@each $size, $width in grid('units') {
		$unitClassName: get-grid-unit-name($size, $breakpoint, $type);
		@include make-grid-unit($unitClassName, $width, $type);
	}
}

/*
 * Make a grid unit
 *
 * @example @include make-grid(g--50@md, .25, width);
 */
@mixin make-grid-unit($unitClassName, $width, $type) {
	.#{$unitClassName} {
		$percent: percentage($width);
		@if $type == width {
			width: $percent;
			float: left;
		} @else if $type == gutters {
			@extend %u-grid-unit-base;
		} @else if $type == push {
			left: $percent;
		} @else if $type == pull {
			right: $percent;
		} @else {
			@error "make-grid-unit $type of `#{$type}` not found";
		}
	}
}
